name: Deploy nais-job

on: [workflow_dispatch]

jobs:
  build:
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-push.outputs.image }}
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Nais Docker Build Push
        uses: nais/docker-build-push@1fae4798c79f4af4c3cdbd3fe65e51f8f3ba2368
        id: docker-push
        with:
          team: platforce
          dockerfile: Dockerfile-job
  deploy-dev:
    name: Deploy job to dev-gcp
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Nais Deploy v2
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: eventlog-fetch-job.yaml
          VAR: image=${{ needs.build.outputs.image }}
  deploy-prod:
    name: Deploy job to prod-gcp
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout v5.0.1
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Nais Deploy v2
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: eventlog-fetch-job.yaml
          VAR: image=${{ needs.build.outputs.image }}